{% for category in categories %}
    <li id="vm-category-1" class="level0 VmClose"><a href="/category/{{ category.id }}" ><img src="/images/categories/{{ category.icon }}" /> {{ category.category }} <b></b></a></li>
{% endfor %}