                            {% block categories %}
                            <div class="module-categories">
                                <div class="boxIndent">
                                    <div class="wrapper2">
                                        <script src="{{ asset('/js/mylib5.js') }}" type="text/javascript"></script>
                                        <ul class="VMmenu level0 list" id="accordion" >
                                            {{ render(controller('AcmeMobileBundle:Main:getAllCategoriesOrderedById')) }}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endblock %}
