                            {% block facebook %}
                            <div class="module_banner_1">
                                <div class="boxIndent">
                                    <div class="wrapper2">
                                        <div class="bannergroup_banner_1">
                                            <div class="banneritem">
                                                <a href="https://www.facebook.com/bachinskiy.yuriy" target="_blank" title="Shop 1">
                                                    <img src="{{ asset('images/facebook.png') }}" alt="Shop 1" width ="241" height ="65"/>
                                                </a>
                                                <div class="clr"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endblock %}
