        {% block footer %}    
        <div id="foot">
            <p id="back-top"><a href="#top"><span></span></a></p>
            <div class="space">
                <div class="wrapper">
                    <div class="footerText">
                        <div class="footer1">Copyright &#169; 2016 Kostya & Co. All Rights Reserved. Авторські парва &#169; 2016 Kosta & Co. Всі права захищені</div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
