            {% block search %}
            <div id="search">
                <div class="moduletable_ajax_search">
                    <div style="position: relative;" >
                        <form name="pp_search135" id="pp_search2.135" action="" method="get">
                            <div class="vmlpsearch_ajax_search" style="min-height: 20px;">
                                <div id="results_re_2135">
                                    <a style="display:none;"  href="/free_2013_virtuemart_2_0_22_a/" title="" onclick="javascript: return false;"></a>
                                </div>
                                <div class="vm_ajax_search_pretext"></div>
                                <div class="aj_label_wrapper" style="position: relative; height: 20px; clear: both;" >
                                    <input style="width: 232px; position: relative; top: 0; left: 0;" class="inputbox" id="vm_ajax_search_search_str2135" name="keyword" type="text" value="" autocomplete="off" onblur="javascript: return search_setText('', this, '135');" onfocus="javascript: aj_inputclear(this, '5', 'en', '135', 'http://livedemo00.template-help.com/free_2013_virtuemart_2_0_22_a/modules/mod_vm_ajax_search/ajax/index.php');" onkeyup="javascript:search_vm_ajax_live(this, '5', 'en', '135', 'http://livedemo00.template-help.com/free_2013_virtuemart_2_0_22_a/modules/mod_vm_ajax_search/ajax/index.php'); "/>
                                    <input type="hidden" id="saved_vm_ajax_search_search_str2135" value="search" />
                                    <label for="vm_ajax_search_search_str2135" id="label_vm_ajax_search_search_str2135" class="label_vm_ajax" style="position: absolute;">search in shop</label>
                                    <input type="hidden" name="option" value="com_virtuemart" />
                                    <input type="hidden" name="page" value="shop.browse" />
                                    <input type="hidden" name="search" value="true" />
                                    <input type="hidden" name="view" value="category" />
                                    <input type="hidden" name="limitstart" value="0" />
                                    <input class="button" type="submit" value="Поиск" name="Search"  style="display: block; "/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endblock %}
