{% extends 'AcmeMobileBundle:Main:base.html.twig' %}
    {% block content %}
<!-- Перевірити на потрібність -->
    <div class="moduletable_Breadcrumbs">
        <div class="breadcrumbs_Breadcrumbs">
            <a href="/free_2013_virtuemart_2_0_22_a/" class="pathway">Home</a> &gt; <a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store" class="pathway">Online Store</a> &gt; Category Layout
        </div>
    </div>
<!-- ------------------------- --> 
    <div class="error err-space">
        <div id="system-message-container"></div>
    </div>
    <div class="content-indent">
        <div class="orderby-displaynumber">
    		<div id="navigation">
                <a class="active Clist" href="#" title"List view"></a>
				<a class="Cgrid" href="#" title"Grid view" ></a>
            </div>
            <div class="width90">
                <div class="orderlistcontainer"><div class="title">Sort by</div><div class="activeOrder"><a title=" +/-" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/orderDesc">Product Name  +/-</a></div><div class="orderlist"><div><a title="Product SKU" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/by,`p`.product_sku">Product SKU</a></div><div><a title="Category" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/by,category_name">Category</a></div><div><a title="Manufacturer name" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/by,mf_name">Manufacturer name</a></div><div><a title="Product Sales" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/by,product_sales">Product Sales</a></div><div><a title="Product id" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/by,`p`.virtuemart_product_id">Product id</a></div></div></div>
                <div class="orderlistcontainer"><div class="title">Manufacturer: </div><div class="activeOrder">Select manufacturer</div><div class="orderlist"><div><a title="Manufacturer-1" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/manufacturer/brand-example-1">Manufacturer-1</a></div><div><a title="Manufacturer-2" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/manufacturer/brand-example-2">Manufacturer-2</a></div><div><a title="Manufacturer-3" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/manufacturer/brand-example-3">Manufacturer-3</a></div><div><a title="Manufacturer-4" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/manufacturer/brand-example-4">Manufacturer-4</a></div><div><a title="Manufacturer-5" href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/manufacturer/brand-example-5">Manufacturer-5</a></div></div></div>
                <div class="clear"></div>
                <div class="Results">
                    <div class="floatleft display-number">
                        <span>Results 1 - 6 of 80</span>
                        <select name="" class="inputbox" size="1" onchange="window.top.location.href=this.options[this.selectedIndex].value">
                            <option value="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/results,1-6" selected="selected">6</option>
                            <option value="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/results,1-12">12</option>
                            <option value="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/results,1-18">18</option>
                            <option value="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/results,1-24">24</option>
                            <option value="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout/results,1-100">100</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
		</div>
        <div id="bottom-pagination" class="pag-bot"><div class="pagination"><ul><li><strong><span>1</span></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=6" title="2">2</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=12" title="3">3</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=18" title="4">4</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=24" title="5">5</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=30" title="6">6</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=36" title="7">7</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=42" title="8">8</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=48" title="9">9</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=54" title="10">10</a></strong></li><li><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=6" title="Next">Next</a></li><li><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=78" title="End">End</a></li><ul></div></div>
		<div id="product_list" class="list">
            <div  class="browse-view">
                <div class="row element">
                    <div class="product1 floatleft" style="width:33%">
                        <div class="spacer  ">
                            <div class="floatleft col-1">
                                <div class="browseProductImageContainer">
                                    <a href="car/1" images/products/product46.png" class="img-scr"><img src="images/products/product46_resized.png" alt="product46" class="browseProductImage" border="0" title="Dolor sit amet"  /></a>										
                                </div>
                                <div class="padding-stock">
                                    <span class="stock-level">Current Stock Level</span>
                                    <span class="vmicon vm2-normalstock" title="We have plenty of stock for this product"></span>
                                </div>
                            </div>
							<div class="floatleft col-3">
                                <div class="title-indent">
                                    <h2><a href="/car/1" >Dolor sit amet</a></h2>
                                    <p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit fringilla. Fusce...
                                    <div class="rating">
                                        <span class="vote">
                                            <span title="" class="vmicon ratingbox" style="display:inline-block;">
                                                <span class="stars-orange" style="width:0%"></span>
                                            </span>
         								</span>
		    						</div>	
                                    <div class="detal">
                                        <a href="/car/1" title="Dolor sit amet" class="product-details">Product details</a>											
                                    </div>
							    </div>
							</div>
							<div class="floatright col-2">
																			<div class="product-price marginbottom12" id="productPrice46">
											<div class="PricesalesPrice" style="display : block;" ><span class="PricesalesPrice" >$121.00</span></div>										</div>
																												<div class="addtocart-area">
										<form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct46">
										                <input name="quantity" type="hidden" value="1" />

										<div class="addtocart-bar2">
											<script type="text/javascript" src="mylib8.js"></script> 
                                            <div class="not_notyfi">
                                                <label for="quantity46" class="quantity_box">Quantity: </label>
                                                <span class="quantity-box">
                                                    <input type="text" class="quantity-input js-recalculate" name="quantity[]" onblur="check(this);" value="1"/>
                                                </span>
                                                <span class="quantity-controls">
                                                    <input type="button" class="quantity-controls quantity-plus" />
                                                    <input type="button" class="quantity-controls quantity-minus" />
                                                </span>
                                                <div class="clear"></div>
                                                <span class="addtocart-button">
											        <i>&gt;</i>
                                                    <input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
                                                </span>
                                                <div class="det">
												<a href="/car/1" title="Dolor sit amet" class="button">Details<span>&gt;</span></a>											</div>
																						<div class="clear"></div>
																						</div>
																					
										</div>
										<input type="hidden" class="pname" value="Dolor sit amet"/>
										<input type="hidden" name="option" value="com_virtuemart" />
										<input type="hidden" name="view" value="cart" />
										<noscript><input type="hidden" name="task" value="add" /></noscript>
										<input type="hidden" name="virtuemart_product_id[]" value="46" />
										<input type="hidden" name="virtuemart_category_id[]" value="8" />
										
									</form>
									</div>
																	</div>
								<div class="clear"></div>
								</div>
							</div>
													
							<div class="product1 floatleft" style="width:33%">
								<div class="spacer  ">
									
									<div class="floatleft col-1">
										<div class="browseProductImageContainer">
										
										<a href="/car/1" rel="images/products/product66.png" class="img-scr"><img src="images/products/product66_resized.png" alt="product66" class="browseProductImage" border="0" title="Dolor sit amet"  /></a>										</div>
																					<div class="padding-stock">
												<span class="stock-level">Current Stock Level</span>
												<span class="vmicon vm2-normalstock" title="We have plenty of stock for this product"></span>

											</div>
																					
									</div>
					
									<div class="floatleft col-3">
										<div class="title-indent">
											<h2><a href="/car/1" >Dolor sit amet</a></h2>
																								<p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit fringilla. Fusce...																								
											<div class="rating">
											
																										
													<span class="vote">
													<span title="" class="vmicon ratingbox" style="display:inline-block;">
													<span class="stars-orange" style="width:0%">
													</span>
													</span>
													</span>


											</div>	
											<div class="detal">
											<a href="/car/1" title="Dolor sit amet" class="product-details">Product details</a>											</div>
										</div>
									</div>
									<div class="floatright col-2">
																			<div class="product-price marginbottom12" id="productPrice66">
											<div class="PricesalesPrice" style="display : block;" ><span class="PricesalesPrice" >$121.00</span></div>										</div>
																												<div class="addtocart-area">
										<form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct66">
										                <input name="quantity" type="hidden" value="1" />

										<div class="addtocart-bar2">
												<script type="text/javascript">
													function check(obj) {
													// use the modulus operator '%' to see if there is a remainder
													remainder=obj.value % 1;
													quantity=obj.value;
													if (remainder  != 0) {
														alert('You can buy this product only in multiples of 1 pieces!!');
														obj.value = quantity-remainder;
														return false;
														}
													return true;
													}
											</script> 

												
										<div class="not_notyfi">
																															<label for="quantity66" class="quantity_box">Quantity: </label>
											
											<span class="quantity-box">
											<input type="text" class="quantity-input js-recalculate" name="quantity[]" onblur="check(this);" value="1"/>
											</span>
											<span class="quantity-controls">
											<input type="button" class="quantity-controls quantity-plus" />
											<input type="button" class="quantity-controls quantity-minus" />
											</span>
																																	<div class="clear"></div>
											<span class="addtocart-button">
											<i>&gt;</i>
												<input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
											</span>
																						<div class="det">
												<a href="/car/1" title="Dolor sit amet" class="button">Details<span>&gt;</span></a>											</div>
																						<div class="clear"></div>
																						</div>
																					
										</div>
										<input type="hidden" class="pname" value="Dolor sit amet"/>
										<input type="hidden" name="option" value="com_virtuemart" />
										<input type="hidden" name="view" value="cart" />
										<noscript><input type="hidden" name="task" value="add" /></noscript>
										<input type="hidden" name="virtuemart_product_id[]" value="66" />
										<input type="hidden" name="virtuemart_category_id[]" value="11" />
										
									</form>
									</div>
																	</div>
								<div class="clear"></div>
								</div>
							</div>
													
							<div class="product1 floatleft" style="width:33%">
								<div class="spacer  ">
									
									<div class="floatleft col-1">
										<div class="browseProductImageContainer">
										
										<a href="/car/1" rel="images/products/product16.png" class="img-scr"><img src="images/products/product16_resized.png" alt="product16" class="browseProductImage" border="0" title="Dolor sit amet"  /></a>										</div>
																					<div class="padding-stock">
												<span class="stock-level">Current Stock Level</span>
												<span class="vmicon vm2-normalstock" title="We have plenty of stock for this product"></span>

											</div>
																					
									</div>
					
									<div class="floatleft col-3">
										<div class="title-indent">
											<h2><a href="/car/1" >Dolor sit amet</a></h2>
																								<p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit fringilla. Fusce...																								
											<div class="rating">
											
																										
													<span class="vote">
													<span title="" class="vmicon ratingbox" style="display:inline-block;">
													<span class="stars-orange" style="width:0%">
													</span>
													</span>
													</span>


											</div>	
											<div class="detal">
											<a href="/car/1" title="Dolor sit amet" class="product-details">Product details</a>											</div>
										</div>
									</div>
									<div class="floatright col-2">
																			<div class="product-price marginbottom12" id="productPrice16">
											<div class="PricesalesPrice" style="display : block;" ><span class="PricesalesPrice" >$121.00</span></div>										</div>
																												<div class="addtocart-area">
										<form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct16">
										                <input name="quantity" type="hidden" value="1" />

										<div class="addtocart-bar2">
												<script type="text/javascript">
													function check(obj) {
													// use the modulus operator '%' to see if there is a remainder
													remainder=obj.value % 1;
													quantity=obj.value;
													if (remainder  != 0) {
														alert('You can buy this product only in multiples of 1 pieces!!');
														obj.value = quantity-remainder;
														return false;
														}
													return true;
													}
											</script> 

												
										<div class="not_notyfi">
																															<label for="quantity16" class="quantity_box">Quantity: </label>
											
											<span class="quantity-box">
											<input type="text" class="quantity-input js-recalculate" name="quantity[]" onblur="check(this);" value="1"/>
											</span>
											<span class="quantity-controls">
											<input type="button" class="quantity-controls quantity-plus" />
											<input type="button" class="quantity-controls quantity-minus" />
											</span>
																																	<div class="clear"></div>
											<span class="addtocart-button">
											<i>&gt;</i>
												<input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
											</span>
																						<div class="det">
												<a href="/car/1" title="Dolor sit amet" class="button">Details<span>&gt;</span></a>											</div>
																						<div class="clear"></div>
																						</div>
																					
										</div>
										<input type="hidden" class="pname" value="Dolor sit amet"/>
										<input type="hidden" name="option" value="com_virtuemart" />
										<input type="hidden" name="view" value="cart" />
										<noscript><input type="hidden" name="task" value="add" /></noscript>
										<input type="hidden" name="virtuemart_product_id[]" value="16" />
										<input type="hidden" name="virtuemart_category_id[]" value="4" />
										
									</form>
									</div>
																	</div>
								<div class="clear"></div>
								</div>
							</div>
												<div class="clear"></div>
						</div>
															<div class="horizontal-separator"></div>
															
						<div class="row element">
													
							<div class="product1 floatleft" style="width:33%">
								<div class="spacer  ">
									
									<div class="floatleft col-1">
										<div class="browseProductImageContainer">
										
										<a href="/car/1" rel="images/products/product36.png" class="img-scr"><img src="images/products/product36_resized.png" alt="product36" class="browseProductImage" border="0" title="Dolor sit amet"  /></a>										</div>
																					<div class="padding-stock">
												<span class="stock-level">Current Stock Level</span>
												<span class="vmicon vm2-normalstock" title="We have plenty of stock for this product"></span>

											</div>
																					
									</div>
					
									<div class="floatleft col-3">
										<div class="title-indent">
											<h2><a href="/car/1" >Dolor sit amet</a></h2>
																								<p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit fringilla. Fusce...																								
											<div class="rating">
											
																										
													<span class="vote">
													<span title="" class="vmicon ratingbox" style="display:inline-block;">
													<span class="stars-orange" style="width:0%">
													</span>
													</span>
													</span>


											</div>	
											<div class="detal">
											<a href="/car/1" title="Dolor sit amet" class="product-details">Product details</a>											</div>
										</div>
									</div>
									<div class="floatright col-2">
																			<div class="product-price marginbottom12" id="productPrice36">
											<div class="PricesalesPrice" style="display : block;" ><span class="PricesalesPrice" >$121.00</span></div>										</div>
																												<div class="addtocart-area">
										<form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct36">
										                <input name="quantity" type="hidden" value="1" />

										<div class="addtocart-bar2">
												<script type="text/javascript">
													function check(obj) {
													// use the modulus operator '%' to see if there is a remainder
													remainder=obj.value % 1;
													quantity=obj.value;
													if (remainder  != 0) {
														alert('You can buy this product only in multiples of 1 pieces!!');
														obj.value = quantity-remainder;
														return false;
														}
													return true;
													}
											</script> 

												
										<div class="not_notyfi">
																															<label for="quantity36" class="quantity_box">Quantity: </label>
											
											<span class="quantity-box">
											<input type="text" class="quantity-input js-recalculate" name="quantity[]" onblur="check(this);" value="1"/>
											</span>
											<span class="quantity-controls">
											<input type="button" class="quantity-controls quantity-plus" />
											<input type="button" class="quantity-controls quantity-minus" />
											</span>
																																	<div class="clear"></div>
											<span class="addtocart-button">
											<i>&gt;</i>
												<input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
											</span>
																						<div class="det">
												<a href="/car/1" title="Dolor sit amet" class="button">Details<span>&gt;</span></a>											</div>
																						<div class="clear"></div>
																						</div>
																					
										</div>
										<input type="hidden" class="pname" value="Dolor sit amet"/>
										<input type="hidden" name="option" value="com_virtuemart" />
										<input type="hidden" name="view" value="cart" />
										<noscript><input type="hidden" name="task" value="add" /></noscript>
										<input type="hidden" name="virtuemart_product_id[]" value="36" />
										<input type="hidden" name="virtuemart_category_id[]" value="7" />
										
									</form>
									</div>
																	</div>
								<div class="clear"></div>
								</div>
							</div>
													
							<div class="product1 floatleft" style="width:33%">
								<div class="spacer  ">
									
									<div class="floatleft col-1">
										<div class="browseProductImageContainer">
										
										<a href="/car/1" rel="images/products/product56.png" class="img-scr"><img src="images/products/product56_resized.png" alt="product56" class="browseProductImage" border="0" title="Dolor sit amet"  /></a>										</div>
																					<div class="padding-stock">
												<span class="stock-level">Current Stock Level</span>
												<span class="vmicon vm2-normalstock" title="We have plenty of stock for this product"></span>

											</div>
																					
									</div>
					
									<div class="floatleft col-3">
										<div class="title-indent">
											<h2><a href="/car/1" >Dolor sit amet</a></h2>
																								<p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit fringilla. Fusce...																								
											<div class="rating">
											
																										
													<span class="vote">
													<span title="" class="vmicon ratingbox" style="display:inline-block;">
													<span class="stars-orange" style="width:0%">
													</span>
													</span>
													</span>


											</div>	
											<div class="detal">
											<a href="/car/1" title="Dolor sit amet" class="product-details">Product details</a>											</div>
										</div>
									</div>
									<div class="floatright col-2">
																			<div class="product-price marginbottom12" id="productPrice56">
											<div class="PricesalesPrice" style="display : block;" ><span class="PricesalesPrice" >$121.00</span></div>										</div>
																												<div class="addtocart-area">
										<form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct56">
										                <input name="quantity" type="hidden" value="1" />

										<div class="addtocart-bar2">
												<script type="text/javascript">
													function check(obj) {
													// use the modulus operator '%' to see if there is a remainder
													remainder=obj.value % 1;
													quantity=obj.value;
													if (remainder  != 0) {
														alert('You can buy this product only in multiples of 1 pieces!!');
														obj.value = quantity-remainder;
														return false;
														}
													return true;
													}
											</script> 

												
										<div class="not_notyfi">
																															<label for="quantity56" class="quantity_box">Quantity: </label>
											
											<span class="quantity-box">
											<input type="text" class="quantity-input js-recalculate" name="quantity[]" onblur="check(this);" value="1"/>
											</span>
											<span class="quantity-controls">
											<input type="button" class="quantity-controls quantity-plus" />
											<input type="button" class="quantity-controls quantity-minus" />
											</span>
																																	<div class="clear"></div>
											<span class="addtocart-button">
											<i>&gt;</i>
												<input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
											</span>
																						<div class="det">
												<a href="/car/1" title="Dolor sit amet" class="button">Details<span>&gt;</span></a>											</div>
																						<div class="clear"></div>
																						</div>
																					
										</div>
										<input type="hidden" class="pname" value="Dolor sit amet"/>
										<input type="hidden" name="option" value="com_virtuemart" />
										<input type="hidden" name="view" value="cart" />
										<noscript><input type="hidden" name="task" value="add" /></noscript>
										<input type="hidden" name="virtuemart_product_id[]" value="56" />
										<input type="hidden" name="virtuemart_category_id[]" value="10" />
										
									</form>
									</div>
																	</div>
								<div class="clear"></div>
								</div>
							</div>
													
							<div class="product1 floatleft" style="width:33%">
								<div class="spacer  ">
									
									<div class="floatleft col-1">
										<div class="browseProductImageContainer">
										
										<a href="/car/1" rel="images/products/product76.png" class="img-scr"><img src="images/products/product76_resized.png" alt="product76" class="browseProductImage" border="0" title="Dolor sit amet"  /></a>										</div>
																					<div class="padding-stock">
												<span class="stock-level">Current Stock Level</span>
												<span class="vmicon vm2-normalstock" title="We have plenty of stock for this product"></span>

											</div>
																					
									</div>
					
									<div class="floatleft col-3">
										<div class="title-indent">
											<h2><a href="/car/1" >Dolor sit amet</a></h2>
																								<p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit fringilla. Fusce...																								
											<div class="rating">
											
																										
													<span class="vote">
													<span title="" class="vmicon ratingbox" style="display:inline-block;">
													<span class="stars-orange" style="width:0%">
													</span>
													</span>
													</span>


											</div>	
											<div class="detal">
											<a href="/car/1" title="Dolor sit amet" class="product-details">Product details</a>											</div>
										</div>
									</div>
									<div class="floatright col-2">
																			<div class="product-price marginbottom12" id="productPrice76">
											<div class="PricesalesPrice" style="display : block;" ><span class="PricesalesPrice" >$121.00</span></div>										</div>
																												<div class="addtocart-area">
										<form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct76">
										                <input name="quantity" type="hidden" value="1" />

										<div class="addtocart-bar2">
												<script type="text/javascript">
													function check(obj) {
													// use the modulus operator '%' to see if there is a remainder
													remainder=obj.value % 1;
													quantity=obj.value;
													if (remainder  != 0) {
														alert('You can buy this product only in multiples of 1 pieces!!');
														obj.value = quantity-remainder;
														return false;
														}
													return true;
													}
											</script> 

												
										<div class="not_notyfi">
																															<label for="quantity76" class="quantity_box">Quantity: </label>
											
											<span class="quantity-box">
											<input type="text" class="quantity-input js-recalculate" name="quantity[]" onblur="check(this);" value="1"/>
											</span>
											<span class="quantity-controls">
											<input type="button" class="quantity-controls quantity-plus" />
											<input type="button" class="quantity-controls quantity-minus" />
											</span>
																																	<div class="clear"></div>
											<span class="addtocart-button">
											<i>&gt;</i>
												<input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
											</span>
																						<div class="det">
												<a href="/car/1" title="Dolor sit amet" class="button">Details<span>&gt;</span></a>											</div>
																						<div class="clear"></div>
																						</div>
																					
										</div>
										<input type="hidden" class="pname" value="Dolor sit amet"/>
										<input type="hidden" name="option" value="com_virtuemart" />
										<input type="hidden" name="view" value="cart" />
										<noscript><input type="hidden" name="task" value="add" /></noscript>
										<input type="hidden" name="virtuemart_product_id[]" value="76" />
										<input type="hidden" name="virtuemart_category_id[]" value="13" />
										
									</form>
									</div>
																	</div>
								<div class="clear"></div>
								</div>
							</div>
												<div class="clear"></div>
						</div>
												
				<div id="page-nav" name="page-nav" style="display:none">
						<div class="pagination"><ul><li><strong><span>1</span></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=6" title="2">2</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=12" title="3">3</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=18" title="4">4</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=24" title="5">5</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=30" title="6">6</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=36" title="7">7</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=42" title="8">8</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=48" title="9">9</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=54" title="10">10</a></strong></li><li><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=6" title="Next">Next</a></li><li><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=78" title="End">End</a></li><ul></div>					</div>

</div>
</div>
		<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript">
 jQuery(document).ready(function($) {
	var cc = $.cookie('list_grid');
	if (cc == 'g') {
		$('#product_list').addClass('grid');
		$('#product_list').removeClass('list');
		$('.Clist').removeClass('active');
		$('.Cgrid').addClass('active');
	} else  {
		$('#product_list').removeClass('grid');
		$('#product_list').addClass('list');
		$('.Clist').addClass('active');
		$('.Cgrid').removeClass('active');
	}
	
	$('.Cgrid').click(function() {
		$('#product_list').fadeOut(300, function() {
			$(this).addClass('grid').removeClass('list').fadeIn(300);
		});
		$('.Clist').removeClass('active');
		$('.Cgrid').addClass('active');
		$.cookie('list_grid', 'g' , {path: '/free_2013_virtuemart_2_0_22_a/index.php'});
		return false;
	});
	$('.Clist').click(function() {
		$('#product_list').fadeOut(300, function() {
			$(this).removeClass('grid').addClass('list').fadeIn(300);
		});
		$('.Clist').addClass('active');
		$('.Cgrid').removeClass('active');
		$.cookie('list_grid', 'l' , {path: '/free_2013_virtuemart_2_0_22_a/index.php'});
		
		return false;
	});
});

</script>

	
	<div class="clear"></div>
	<div id="bottom-pagination"><div class="pagination"><ul><li><strong><span>1</span></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=6" title="2">2</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=12" title="3">3</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=18" title="4">4</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=24" title="5">5</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=30" title="6">6</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=36" title="7">7</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=42" title="8">8</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=48" title="9">9</a></strong></li><li><strong><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=54" title="10">10</a></strong></li><li><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=6" title="Next">Next</a></li><li><a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/categoty-layout?start=78" title="End">End</a></li><ul></div></div>
		
							</div>
														<div class="module_banner_2">
						 <div class="boxIndent">

				</div>
			</div>
	
    {% endblock %}