{% extends 'AcmeMobileBundle:Main:baseLayer.html.twig' %}
    {% block content %}
    <div class="error err-space">
        <div id="system-message-container"></div>
    </div>
    <div class="content-indent">
        <div class="module_address">
            <h3><span><span>Kostya & Co</span></span></h3>
            <div class="boxIndent">
                <div class="wrapper2">
                    <div class="custom_address">
                        <dl>
                            <dt>8901 Marmora Road,<br />Glasgow, D04 89GR.</dt>
                            <dd><span>Freephone:</span>+1 800 559 6580</dd> 
                            <dd><span>Telephone:</span>+1 959 603 6035</dd>
                            <dd class="dd-bot"><span>FAX:</span>+1 504 889 9898</dd>
                            <dd>E-mail:<a href="#">mail@demolink.org</a></dd>
                        </dl>
                        <dl>
                            <dt>9863 - 9867 Mill Road,<br />Cambridge, MG09 99HT</dt>
                            <dd><span>Freephone:</span>+1 800 559 6580</dd> 
                            <dd><span>Telephone:</span>+1 959 603 6035</dd>
                            <dd class="dd-bot"><span>FAX:</span>+1 504 889 9898</dd>
                            <dd>E-mail:<a href="#">mail@demolink.org</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
		<br/><br/>							
        <div class="contactcontacts">
            <h3>Написати нам</h3>
            <div class="info"></div>
            <div class="contact-form">
                <form id="contact-form" action="/free_2013_virtuemart_2_0_22_a/index.php/contact" method="post" class="form-validate">
                    <fieldset>
                        <legend>Send an email. All fields with an * are required.</legend>
                        <dl>
                            <dt><label id="jform_contact_name-lbl" for="jform_contact_name" class="hasTip required" title="Name::Your name">Name<span class="star">&#160;*</span></label></dt>
                            <dd><input type="text" name="jform[contact_name]" id="jform_contact_name" value="" class="required" size="30"/></dd>
                            <dt><label id="jform_contact_email-lbl" for="jform_contact_email" class="hasTip required" title="Email::Email for contact">Email<span class="star">&#160;*</span></label></dt>
                            <dd><input type="text" name="jform[contact_email]" class="validate-email required" id="jform_contact_email" value="" size="30"/></dd>
                            <dt><label id="jform_contact_emailmsg-lbl" for="jform_contact_emailmsg" class="hasTip required" title="Subject::Enter the subject of your message here .">Subject<span class="star">&#160;*</span></label></dt>
                            <dd><input type="text" name="jform[contact_subject]" id="jform_contact_emailmsg" value="" class="required" size="60"/></dd>
                            <dt><label id="jform_contact_message-lbl" for="jform_contact_message" class="hasTip required" title="Message::Enter your message here.">Message<span class="star">&#160;*</span></label></dt>
                            <dd><textarea name="jform[contact_message]" id="jform_contact_message" cols="50" rows="10" class="required"></textarea></dd>
                            <dt></dt>
                            <dd>
                                <button class="button validate" type="submit">Send Email</button>
                                <input type="hidden" name="option" value="com_contact" />
                                <input type="hidden" name="task" value="contact.submit" />
                                <input type="hidden" name="return" value="" />
                                <input type="hidden" name="id" value="1:name" />
                                <input type="hidden" name="e62ff44d3966f0b8a19299197b3886ac" value="1" />				
                            </dd>
                        </dl>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
        {% endblock %}