{% extends 'AcmeMobileBundle:Main:baseLayer.html.twig' %}
    {% block content %}
    <div class="error err-space">
        <div id="system-message-container"></div>
    </div>
    <div class="content-indent">
        <div class="module_address">
            <h3><span><span>Kostya & Co</span></span></h3>
            <div class="boxIndent">
                <div class="wrapper2">
                    <div class="custom_address">
                        <dl>
                            <dt>Львовская обл., г.Старый Самбор</dt>
                            <dd><span>Телефон:</span>+3 8(067)188-9861</dd> 
                            <dd><span>Телефон:</span>+3 8(050)ХХХ-ХХХХ</dd>
                            <dd>E-mail:<a href="mailto: info@mobile.kl.com.ua">info@mobile.kl.com.ua</a></dd>
                        </dl>
                        <dl>
                            <dt>Волынская обл., г.Луцк</dt>
                            <dd><span>Телефон:</span>+3 8(067)ХХХ-ХХХХ</dd> 
                            <dd><span>Телефон:</span>+3 8(050)ХХХ-ХХХХ</dd>
                            <dd>E-mail:<a href="mailto: sales@mobile.kl.com.ua">sales@mobile.kl.com.ua</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
		<br/><br/>							
        <div class="contactcontacts">
            <h3>Написать нам</h3>
            <div class="info"></div>
            <div class="contact-form">
                <form id="contact-form" action="/contact" method="post" class="form-validate">
                    <fieldset>
                        <legend>Send an email. All fields with an * are required.</legend>
                        <dl>
                            <dt><label id="jform_contact_name-lbl" for="jform_contact_name" class="hasTip required" title="Ваше имя">Имя<span class="star">&#160;*</span></label></dt>
                            <dd><input type="text" name="contact_name" id="jform_contact_name" value="" class="required" size="30"/></dd>
                            <dt><label id="jform_contact_tel-lbl" for="jform_contact_tel" title="Телефон">Телефон</label></dt>
                            <dd><input type="text" name="contact_tel" id="jform_contact_tel" value="" class="required" size="30"/></dd>
                            <dt><label id="jform_contact_email-lbl" for="jform_contact_email" class="hasTip required" title="Ваш электронный ящик">Email<span class="star">&#160;*</span></label></dt>
                            <dd><input type="text" name="contact_email" class="validate-email required" id="jform_contact_email" value="" size="30"/></dd>
                            <dt><label id="jform_contact_emailmsg-lbl" for="jform_contact_emailmsg" class="hasTip required" title="Тема сообщения">Тема<span class="star">&#160;*</span></label></dt>
                            <dd><input type="text" name="contact_subject" id="jform_contact_emailmsg" value="{{ app.request.get('model') }}" class="required" size="60"/></dd>
                            <dt><label id="jform_contact_message-lbl" for="jform_contact_message" class="hasTip required" title="Текст сообщение">Сообщение<span class="star">&#160;*</span></label></dt>
                            <dd><textarea name="contact_message" id="jform_contact_message" cols="50" rows="10" class="required">{{ app.request.get('model') }}&#013;&#010;</textarea></dd>
                            <dd><input type="hidden" name="contact_model" value="{{ app.request.get('link') }}"></dd>
                            <dt></dt>
                            <dd>
                                <button class="button validate" type="submit">Отправить</button>
                            </dd>
                        </dl>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
        {% endblock %}