{% extends 'AcmeMobileBundle:Main:baseLayer.html.twig' %}
    {% block content %}
    <div class="error err-space">
        <div id="system-message-container"></div>
    </div>
    <div class="content-indent">
        <div class="item-page">
            <h2>ЧаВо</h2>
            <div class="FAQS">
                <h2>Часто задаваемые вопросы </h2>
                <dl id="accordion">
                    <dt><span><div class="bg"><div class="wrapper">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo?</span></div></div></dt>
                    <dd>
                        <div class="indent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
                        </div>
                    </dd>
                    <dt><span><div class="bg"><div class="wrapper">Consectetur adipisicing elit, sed do eiusmod tempo?</span></div></div></dt>
                    <dd>
                        <div class="indent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
                        </div>
                    </dd>
                    <dt><span><div class="bg"><div class="wrapper">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo?</span></div></div></dt>
                    <dd>
                        <div class="indent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
                        </div>
                    </dd>
                    <dt><span><div class="bg"><div class="wrapper">Deltricies pharetra magna. Donec accumsan malesuada orc ater ports eren mate?</span></div></div></dt>
                    <dd>
                        <div class="indent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
                        </div>
                    </dd>
                    <dt><span><div class="bg"><div class="wrapper">set magna  dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo?</span></div></div></dt>
                    <dd>
                        <div class="indent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
                        </div>
                    </dd>
                    <dt><span><div class="bg"><div class="wrapper">Set onsectetur adipisicing elit, sed do eiusmod tempo?</span></div></div></dt>
                    <dd>
                        <div class="indent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in.</p>
                        </div>
                    </dd>
				</dl>
            </div>
        </div>
    </div>
        {% endblock %}