            {% block logo %}
            <div class="logoheader">
                <h5 id="logo">
                <a href="/"><img src="/images/logo.png" alt="Logo" /></a>
                <span class="header1">Open Source VM2</span></h5>
            </div>
            {% endblock %}
