{% extends 'AcmeMobileBundle:Main:base.html.twig' %}
    {% block content %}
                    <div class="moduletable_slider">
                        <script src="/js/mylib6.js" type="text/javascript"></script>
                        <div class="slideshowck_slider camera_wrap camera_amber_skin" id="camera_wrap_130" style="width:742px;">
                            <div data-thumb="/images/slider/slide1_th.jpg" data-src="/images/slider/slide1.jpg" data-link="index.php?option=com_virtuemart&view=productdetails&virtuemart_product_id=6" data-target="_parent" ></div>
                            <div data-thumb="/images/slider/slide2_th.jpg" data-src="/images/slider/slide2.jpg" data-link="index.php?option=com_virtuemart&view=productdetails&virtuemart_product_id=3" data-target="_parent" ></div>
                            <div data-thumb="/images/slider/slide3_th.jpg" data-src="/images/slider/slide3.jpg" data-link="index.php?option=com_virtuemart&view=productdetails&virtuemart_product_id=1" data-target="_parent" ></div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div class="error err-space">
                        <div id="system-message-container"></div>
                    </div>
                    <div class="module_new">
                        <h3><span><span>Рекомендовані</span></span></h3>
                        <div class="boxIndent">
                            <div class="wrapper2">
                                <div class="vmgroup_new">
                                    <ul id="vmproduct" class="vmproduct_new">
                                        <li>
                                            <div class="product-box spacer">
                                                <div class="browseImage">
                                                    <div class="new"></div>
                                                    <a href="index.php?car1" class="img2"><img src="/images/products/product18_resized.png" alt="product18" class="browseProductImage featuredProductImage" border="0" /></a>
                                                </div>
                                                <div class="fleft">
                                                    <div class="Title">
                                                        <span class="count">1.</span><a href="index.php?car1" title="Ipsum dolor sit amet conse ctetur">Ipsum dolor sit amet conse...</a>
                                                    </div>
                                                    <div class="description">
                                                        <p>Proin fermentum ultrices venenatis. Praesent molestie nibh et felis interdum aliquet...
                                                    </div>
                                                    <div class="clear"></div>
                                                    <div class="Price">
                                                        <span class="sales">$105.00</span><span class="WithoutTax">$133.10</span>
                                                    </div>
                                                    <div class="addtocart-area">
                                                        <form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct18">
                                                            <input name="quantity" type="hidden" value="1" />
                                                            <div class="addtocart-bar2">
                                                                <script src="/mylib7.js" type="text/javascript"></script>
                                                                <div class="not_notyfi">
                                                                    <span class="quantity-box">
                                                                        <input type="text" class="quantity-input js-recalculate" name="quantity[]"  value="1"/>
                                                                    </span>
                                                                    <span class="quantity-controls">
                                                                        <input type="button" class="quantity-controls quantity-plus" />
                                                                        <input type="button" class="quantity-controls quantity-minus" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                    <span class="addtocart-button">
                                                                        <i>&gt;</i>
                                                                        <input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" class="pname" value="Ipsum dolor sit amet conse ctetur"/>
                                                            <input type="hidden" name="option" value="com_virtuemart" />
                                                            <input type="hidden" name="view" value="cart" />
                                                            <noscript><input type="hidden" name="task" value="add" /></noscript>
                                                            <input type="hidden" name="virtuemart_product_id[]" value="18" />
                                                            <input type="hidden" name="virtuemart_category_id[]" value="4" />
                                                        </form>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="product-box spacer">
                                                <div class="browseImage">
                                                    <div class="new"></div>
                                                    <a href="index.php?car1" class="img2"><img src="/images/products/product24_resized.png" alt="product24" class="browseProductImage featuredProductImage" border="0" /></a>
                                                </div>
                                                <div class="fleft">
                                                    <div class="Title">
                                                        <span class="count">2.</span><a href="index.php?car1" title="Lorem ipsum dolor sit amet conse ctetur adipisicing">Lorem ipsum dolor sit amet...</a>
                                                    </div>
                                                    <div class="description"><p>Proin fermentum ultrices venenatis. Praesent molestie nibh et felis interdum aliquet...</div>
                                                    <div class="clear"></div>
                                                    <div class="Price"><span class="sales">$157.30</span><span class="WithoutTax">$157.30</span></div>
                                                    <div class="addtocart-area">
                                                        <form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct24">
                                                            <input name="quantity" type="hidden" value="1" />
                                                            <div class="addtocart-bar2">
                                                                <script src="/mylib7.js" type="text/javascript"></script>
                                                                <div class="not_notyfi">
                                                                    <span class="quantity-box"><input type="text" class="quantity-input js-recalculate" name="quantity[]"  value="1"/></span>
                                                                    <span class="quantity-controls">
                                                                        <input type="button" class="quantity-controls quantity-plus" />
                                                                        <input type="button" class="quantity-controls quantity-minus" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                    <span class="addtocart-button">
                                                                        <i>&gt;</i>
                                                                        <input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" class="pname" value="Lorem ipsum dolor sit amet conse ctetur adipisicing"/>
                                                            <input type="hidden" name="option" value="com_virtuemart" />
                                                            <input type="hidden" name="view" value="cart" />
                                                            <noscript><input type="hidden" name="task" value="add" /></noscript>
                                                            <input type="hidden" name="virtuemart_product_id[]" value="24" />
                                                            <input type="hidden" name="virtuemart_category_id[]" value="5" />
                                                        </form>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="product-box spacer">
                                                <div class="browseImage">
                                                    <div class="new"></div>
                                                    <a href="index.php?car1" class="img2"><img src="/images/products/product01_resized.png" alt="product01" class="browseProductImage featuredProductImage" border="0" /></a>
                                                </div>
                                                <div class="fleft">
                                                    <div class="Title">
                                                        <span class="count">3.</span><a href="index.php?car1" title="Lum mleie kertase miase lacnean">Lum mleie kertase miase...</a>
                                                    </div>
                                                    <div class="description"><p>Sed sapien sapien, vulputate ac varius vitae, rutrum ultrices odio. Morbi vel tortor...</div>
                                                    <div class="clear"></div>
                                                    <div class="Price">
                                                        <span class="sales">$121.00</span><span class="WithoutTax">$121.00</span>
                                                    </div>
                                                    <div class="addtocart-area">
                                                        <form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct1">
                                                            <input name="quantity" type="hidden" value="1" />
                                                            <div class="addtocart-bar2">
                                                                <script src="/mylib7.js" type="text/javascript"></script>
                                                                <div class="not_notyfi">
                                                                    <span class="attributes"><b>*</b> Product has attributes</span>
                                                                    <span class="addtocart-button">
                                                                        <i>&gt;</i>
                                                                        <a href="/free_2013_virtuemart_2_0_22_a/index.php/online-store/sedan/product-1-detail" title="Lum mleie kertase miase lacnean" class="addtocart-button attribut">Add to Cart</a>
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" class="pname" value="Lum mleie kertase miase lacnean"/>
                                                            <input type="hidden" name="option" value="com_virtuemart" />
                                                            <input type="hidden" name="view" value="cart" />
                                                            <noscript><input type="hidden" name="task" value="add" /></noscript>
                                                            <input type="hidden" name="virtuemart_product_id[]" value="1" />
                                                            <input type="hidden" name="virtuemart_category_id[]" value="1" />
                                                        </form>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="product-box spacer">
                                                <div class="browseImage">
                                                    <div class="new"></div>
                                                    <a href="index.php?car1" class="img2"><img src="/images/products/product20_resized.png" alt="product20" class="browseProductImage featuredProductImage" border="0" /></a>
                                                </div>
                                                <div class="fleft">
                                                    <div class="Title">
                                                        <span class="count">4.</span><a href="index.php?car1" title="Lorem ipsum dolor sit amet, consect etuer">Lorem ipsum dolor sit amet,...</a>
                                                    </div>
                                                    <div class="description"><p>Ut vitae neque vel lacus volutpat pulvinar. Cras quis odio vitae tellus blandit...</div>
                                                    <div class="clear"></div>
                                                    <div class="Price">
                                                        <span class="sales">$108.90</span><span class="WithoutTax">$108.90</span>
                                                    </div>
                                                    <div class="addtocart-area">
                                                        <form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct20">
                                                            <input name="quantity" type="hidden" value="1" />
                                                            <div class="addtocart-bar2">
                                                                <script type="text/javascript"></script>
                                                                <div class="not_notyfi">
                                                                    <span class="quantity-box">
                                                                        <input type="text" class="quantity-input js-recalculate" name="quantity[]"  value="1"/>
                                                                    </span>
                                                                    <span class="quantity-controls">
                                                                        <input type="button" class="quantity-controls quantity-plus" />
                                                                        <input type="button" class="quantity-controls quantity-minus" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                    <span class="addtocart-button">
                                                                        <i>&gt;</i>
                                                                        <input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" class="pname" value="Lorem ipsum dolor sit amet, consect etuer"/>
                                                            <input type="hidden" name="option" value="com_virtuemart" />
                                                            <input type="hidden" name="view" value="cart" />
                                                            <noscript><input type="hidden" name="task" value="add" /></noscript>
                                                            <input type="hidden" name="virtuemart_product_id[]" value="20" />
                                                            <input type="hidden" name="virtuemart_category_id[]" value="5" />
                                                        </form>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="product-box spacer">
                                                <div class="browseImage">
                                                    <div class="new"></div>
                                                    <a href="index.php?car1" class="img2"><img src="/images/products/product23_resized.png" alt="product23" class="browseProductImage featuredProductImage" border="0" /></a>
                                                </div>
                                                <div class="fleft">
                                                    <div class="Title">
                                                        <span class="count">5.</span><a href="index.php?car1" title="Ut us dolor apibusgetele mentumvel">Ut us dolor apibusgetele...</a>
                                                    </div>
                                                    <div class="description"><p>Sed in dui et mauris ullamcorper sagittis. Morbi tristique tellus eget turpis blandit...</div>
                                                    <div class="clear"></div>
                                                    <div class="Price">
                                                        <span class="sales">$105.00</span><span class="WithoutTax">$133.10</span>
                                                    </div>
                                                    <div class="addtocart-area">
                                                        <form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct23">
                                                            <input name="quantity" type="hidden" value="1" />
                                                            <div class="addtocart-bar2">
                                                                <script type="text/javascript"></script>
                                                                <div class="not_notyfi">
                                                                    <span class="quantity-box">
                                                                        <input type="text" class="quantity-input js-recalculate" name="quantity[]"  value="1"/>
                                                                    </span>
                                                                    <span class="quantity-controls">
                                                                        <input type="button" class="quantity-controls quantity-plus" />
                                                                        <input type="button" class="quantity-controls quantity-minus" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                    <span class="addtocart-button">
                                                                        <i>&gt;</i>
                                                                        <input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" class="pname" value="Ut us dolor apibusgetele mentumvel"/>
                                                            <input type="hidden" name="option" value="com_virtuemart" />
                                                            <input type="hidden" name="view" value="cart" />
                                                            <noscript><input type="hidden" name="task" value="add" /></noscript>
                                                            <input type="hidden" name="virtuemart_product_id[]" value="23" />
                                                            <input type="hidden" name="virtuemart_category_id[]" value="5" />
                                                        </form>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                            <div class="product-box spacer">
                                                <div class="browseImage">
                                                    <div class="new"></div>
                                                    <a href="index.php?car1" class="img2"><img src="/images/products/product14_resized.png" alt="product14" class="browseProductImage featuredProductImage" border="0" /></a>
                                                </div>
                                                <div class="fleft">
                                                    <div class="Title">
                                                        <span class="count">6.</span><a href="index.php?car1" title="Lorem ipsum dolor sit amet conse ctetur adipisicing">Lorem ipsum dolor sit amet...</a>
                                                    </div>
                                                    <div class="description"><p>Proin fermentum ultrices venenatis. Praesent molestie nibh et felis interdum aliquet...</div>
                                                    <div class="clear"></div>
                                                    <div class="Price">
                                                        <span class="sales">$157.30</span><span class="WithoutTax">$157.30</span>
                                                    </div>
                                                    <div class="addtocart-area">
                                                        <form method="post" class="product js-recalculate" action="index.php" id="addtocartproduct14">
                                                            <input name="quantity" type="hidden" value="1" />
                                                            <div class="addtocart-bar2">
                                                                <script type="text/javascript"></script>
                                                                <div class="not_notyfi">
                                                                    <span class="quantity-box">
                                                                        <input type="text" class="quantity-input js-recalculate" name="quantity[]"  value="1"/>
                                                                    </span>
                                                                    <span class="quantity-controls">
                                                                        <input type="button" class="quantity-controls quantity-plus" />
                                                                        <input type="button" class="quantity-controls quantity-minus" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                    <span class="addtocart-button">
                                                                        <i>&gt;</i>
                                                                        <input type="submit" name=""  class="addtocart-button cart-click" value="Add to Cart" title="Add to Cart" />
                                                                    </span>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" class="pname" value="Lorem ipsum dolor sit amet conse ctetur adipisicing"/>
                                                            <input type="hidden" name="option" value="com_virtuemart" />
                                                            <input type="hidden" name="view" value="cart" />
                                                            <noscript><input type="hidden" name="task" value="add" /></noscript>
                                                            <input type="hidden" name="virtuemart_product_id[]" value="14" />
                                                            <input type="hidden" name="virtuemart_category_id[]" value="4" />
                                                        </form>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
    {% endblock %}