            {% block phone %}
            <div class="moduletable_phone">
                <div class="custom_phone"  >
                    <div class="phone">(067) 188-9861<span>Робочі години: 8.00-22.00 Пн-Сб</span></div>
                </div>
            </div>
            {% endblock %}
